### Import python libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
import statsmodels.tools.eval_measures as smte
import statsmodels.formula.api as smfi

#scikit is an open source data analysis library, and the gold standard for Machine Learning
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [ ]:
# import file
df_gap = pd.read_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/pis_01.csv', index_col=0)

In [5]:
# import all files:

def parse_dataset(year):
    path = f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/pis_{number}.csv'
    df = pd.read_csv(path, names=['category','month','year','clicks'])
    return df

# in a loop for more files:
df = pd.DataFrame(columns=['category','month','year','clicks']) # empty df
for number in range(1, 100): # specification of files
    df_temp = parse_dataset(number)
    df_temp['number']=number
    df=pd.concat([df, df_temp]) # add the file to the big df

In [12]:
# import all files:

def parse_dataset(year):
    path = f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/pis_{number}.csv'
    df = pd.read_csv(path)
    return df

# in a loop for more files:
df2 = pd.DataFrame(columns=['category','month','year','clicks']) # empty df
for number in range(1, 100): # specification of files
    df_temp = parse_dataset(number)
    df_temp['number']=number
    df2=pd.concat([df, df_temp]) # add the file to the big df

In [6]:
df

           category  month  year   clicks  number
0          category  month  year   clicks     1.0
1   men's low shoes     12  2021  82951.0     1.0
2   men's low shoes      2  2021  75533.0     1.0
3   men's low shoes      8  2021  86342.0     1.0
4   men's low shoes     10  2021  99433.0     1.0
..              ...    ...   ...      ...     ...
8       camera bags      7  2021  51009.0    99.0
9       camera bags      3  2021  53842.0    99.0
10      camera bags      5  2021  49687.0    99.0
11      camera bags      4  2021  51623.0    99.0
12      camera bags     12  2021  64005.0    99.0

[1287 rows x 5 columns]

In [ ]:
df.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/combined.csv', header=None, index=False) # no header, do not save the index as a new column

In [35]:
separator = ';'

df_combined_manipulate_with_excel = pd.read_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/combined_manipulate_with_excel.csv', sep=separator, parse_dates=['Datetime'], dayfirst=True)

In [36]:
df_combined_manipulate_with_excel.dtypes

category            object
month                int64
year                 int64
clicks             float64
number               int64
Datetime    datetime64[ns]
dtype: object

Einschränkungen des Datasets

besser: Tagesbasierte daten, so nur ungefähre kumulationen möglich.

In [39]:
df_combined_manipulate_with_excel.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/df_combined_manipulate_with_excel_2.csv', index=False,sep=';') # no header, do not save the index as a new column

In [81]:
combined_manipulate_with_excel_2 = pd.read_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/combined_manipulate_with_excel_2.csv', sep=separator)

In [82]:
df3 = combined_manipulate_with_excel_2

In [83]:
df3.columns

Index(['sub-category', 'month', 'year', 'clicks', 'number', 'Datetime',
       'categorie'],
      dtype='object')

In [84]:
df3.dtypes

sub-category    object
month            int64
year             int64
clicks           int64
number           int64
Datetime        object
categorie       object
dtype: object

In [85]:
df3.head(5)

,sub-category,month,year,clicks,number,Datetime,categorie
0,Accessories for kitchen appliances,1,2021,81676,50,01.01.2021,Kitchen Appliances & Accessories
1,Accessories for kitchen appliances,2,2021,59529,50,01.02.2021,Kitchen Appliances & Accessories
2,Accessories for kitchen appliances,3,2021,64537,50,01.03.2021,Kitchen Appliances & Accessories
3,Accessories for kitchen appliances,4,2021,55455,50,01.04.2021,Kitchen Appliances & Accessories
4,Accessories for kitchen appliances,5,2021,52882,50,01.05.2021,Kitchen Appliances & Accessories

In [86]:
# Convert 'Datetime' to datetime format
df3['Datetime'] = pd.to_datetime(df3['Datetime'], format='%d.%m.%Y')

# Keep only the date part
df3['Datetime'] = df3['Datetime'].dt.date

In [87]:
df3.tail(5)

,sub-category,month,year,clicks,number,Datetime,categorie
1183,Xbox One games,8,2021,48542,51,2021-08-01,Electronics & Software
1184,Xbox One games,9,2021,77345,51,2021-09-01,Electronics & Software
1185,Xbox One games,10,2021,85944,51,2021-10-01,Electronics & Software
1186,Xbox One games,11,2021,94542,51,2021-11-01,Electronics & Software
1187,Xbox One games,12,2021,89583,51,2021-12-01,Electronics & Software

In [90]:
# Group by 'categorie' and get the row with maximum 'clicks' in each category
df3_max_clicks = df3.loc[df3.groupby('sub-category')['clicks'].idxmax()]

# Display the rows with maximum 'clicks' for each category
df3_max_clicks

,sub-category,month,year,clicks,number,Datetime,categorie
11,Accessories for kitchen appliances,12,2021,118898,50,2021-12-01,Kitchen Appliances & Accessories
22,All-in-One PCs,11,2021,134469,22,2021-11-01,Electronics & Software
178,"Champagne, Sparkling Wine & Prosecco",11,2021,81142,61,2021-11-01,Drinks
218,Coffee & espresso,3,2021,61849,96,2021-03-01,Kitchen Appliances & Accessories
228,Coffee machine cleaning,1,2021,81720,73,2021-01-01,Kitchen Appliances & Accessories
...,...,...,...,...,...,...,...
1078,tracksuits,11,2021,97270,27,2021-11-01,Fashion & Accessories
1085,trekking sandals,6,2021,143488,75,2021-06-01,Fashion & Accessories
1103,turntable,12,2021,86713,93,2021-12-01,Electronics & Software
1109,umbrellas,6,2021,160126,64,2021-06-01,Home & Garden
1162,washer dryer,11,2021,101180,54,2021-11-01,Home & Garden

In [91]:
# export for tableau uasge - Dasboard peak per month

df3_max_clicks.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/df3_max_clicks.csv', index=False,sep=';') # no header, do not save the index as a new column

In [115]:
# Calculate the new field as per the formula

df3['fluctuation'] = df3.groupby('sub-category')['clicks'].transform(lambda x: (x.max() - x.min()) / x.max())

# Display the DataFrame
df3.head()

,sub-category,month,year,clicks,number,Datetime,categorie,fluctuation
0,Accessories for kitchen appliances,1,2021,81676,50,2021-01-01,Kitchen Appliances & Accessories,0.647967
1,Accessories for kitchen appliances,2,2021,59529,50,2021-02-01,Kitchen Appliances & Accessories,0.647967
2,Accessories for kitchen appliances,3,2021,64537,50,2021-03-01,Kitchen Appliances & Accessories,0.647967
3,Accessories for kitchen appliances,4,2021,55455,50,2021-04-01,Kitchen Appliances & Accessories,0.647967
4,Accessories for kitchen appliances,5,2021,52882,50,2021-05-01,Kitchen Appliances & Accessories,0.647967

In [105]:
df3.drop('new_field', axis='columns', inplace=True)

In [116]:
df3.head(2)

,sub-category,month,year,clicks,number,Datetime,categorie,fluctuation
0,Accessories for kitchen appliances,1,2021,81676,50,2021-01-01,Kitchen Appliances & Accessories,0.647967
1,Accessories for kitchen appliances,2,2021,59529,50,2021-02-01,Kitchen Appliances & Accessories,0.647967

In [109]:
df3.dtypes

sub-category     object
month             int64
year              int64
clicks            int64
number            int64
Datetime         object
categorie        object
fluctuation     float64
dtype: object

In [117]:
# export for tableau uasge - Top Seasonal trending categories

df3.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/combined_manipulate_with_excel_2.csv', index=False,sep=';') # no header, do not save the index as a new column

In [125]:
# Top 5 per Quater

# Konvertiere die Spalte 'Datetime' in das richtige Datumsformat.
df3['Datetime'] = pd.to_datetime(df3['Datetime'], format='%d.%m.%Y')

# Erstelle eine neue Spalte für das Quartal.
df3['Quarter'] = df3['Datetime'].dt.quarter

# Gruppiere den DataFrame nach 'Quarter' und 'sub-category' und erhalte die Top 5 'clicks' für jede Gruppe.
top_5_clicks_per_quarter = df3.groupby(['Quarter', 'sub-category'])['clicks'].nlargest(5)

In [131]:
top_5_clicks_per_quarter = pd.DataFrame(top_5_clicks_per_quarter)

In [157]:
df3

,sub-category,month,year,clicks,number,Datetime,categorie,fluctuation,Quarter
0,Accessories for kitchen appliances,1,2021,81676,50,2021-01-01,Kitchen Appliances & Accessories,0.647967,1
1,Accessories for kitchen appliances,2,2021,59529,50,2021-02-01,Kitchen Appliances & Accessories,0.647967,1
2,Accessories for kitchen appliances,3,2021,64537,50,2021-03-01,Kitchen Appliances & Accessories,0.647967,1
3,Accessories for kitchen appliances,4,2021,55455,50,2021-04-01,Kitchen Appliances & Accessories,0.647967,2
4,Accessories for kitchen appliances,5,2021,52882,50,2021-05-01,Kitchen Appliances & Accessories,0.647967,2
...,...,...,...,...,...,...,...,...,...
1183,Xbox One games,8,2021,48542,51,2021-08-01,Electronics & Software,0.543462,3
1184,Xbox One games,9,2021,77345,51,2021-09-01,Electronics & Software,0.543462,3
1185,Xbox One games,10,2021,85944,51,2021-10-01,Electronics & Software,0.543462,4
1186,Xbox One games,11,2021,94542,51,2021-11-01,Electronics & Software,0.543462,4
1187,Xbox One games,12,2021,89583,51,2021-12-01,Electronics & Software,0.543462,4

In [163]:
# Annahme: Der DataFrame heißt 'df3'.

# Konvertiere die Spalte 'Datetime' in das richtige Datumsformat.
df3['Datetime'] = pd.to_datetime(df3['Datetime'], format='%d.%m.%Y')

# Erstelle eine neue Spalte für das Quartal.
df3['Quarter'] = df3['Datetime'].dt.quarter

# Gruppiere den DataFrame nach 'sub-category' und 'Quarter' und erhalte die Zeile mit den meisten 'clicks' für jede Gruppe.
best_quarter_per_category = df3.groupby(['sub-category', 'Quarter']).apply(lambda x: x.nlargest(1, 'clicks')).reset_index(drop=True)

# Gruppiere den DataFrame nach 'sub-category' und berechne den Gesamtanteil der 'clicks' für jede 'sub-category'.
total_clicks_per_category = df3.groupby('sub-category')['clicks'].sum().reset_index()

# Füge die Gesamtanteilsspalte in den DataFrame mit den besten Quartalsdaten ein.
best_quarter_per_category = best_quarter_per_category.merge(total_clicks_per_category, on='sub-category', suffixes=('_Best_Quarter', '_Total'))

# Berechne den Anteil der 'clicks' am Gesamtwert für jede 'sub-category' im besten Quartal.
best_quarter_per_category['Anteil_Klicks_an_Gesamt'] = best_quarter_per_category['clicks_Best_Quarter'] / best_quarter_per_category['clicks_Total']

# Gib den neuen DataFrame mit den gewünschten Ergebnissen aus.
print(best_quarter_per_category[['sub-category', 'Quarter', 'Anteil_Klicks_an_Gesamt']])

                           sub-category  Quarter  Anteil_Klicks_an_Gesamt
0    Accessories for kitchen appliances        1                 0.105497
1    Accessories for kitchen appliances        2                 0.071629
2    Accessories for kitchen appliances        3                 0.060345
3    Accessories for kitchen appliances        4                 0.153575
4                        All-in-One PCs        1                 0.086037
..                                  ...      ...                      ...
391                           umbrellas        4                 0.015987
392                        washer dryer        1                 0.102417
393                        washer dryer        2                 0.072070
394                        washer dryer        3                 0.083334
395                        washer dryer        4                 0.132956

[396 rows x 3 columns]

In [164]:
best_quarter_per_category

,sub-category,month,year,clicks_Best_Quarter,number,Datetime,categorie,fluctuation,Quarter,clicks_Total,Anteil_Klicks_an_Gesamt
0,Accessories for kitchen appliances,1,2021,81676,50,2021-01-01,Kitchen Appliances & Accessories,0.647967,1,774200,0.105497
1,Accessories for kitchen appliances,4,2021,55455,50,2021-04-01,Kitchen Appliances & Accessories,0.647967,2,774200,0.071629
2,Accessories for kitchen appliances,9,2021,46719,50,2021-09-01,Kitchen Appliances & Accessories,0.647967,3,774200,0.060345
3,Accessories for kitchen appliances,12,2021,118898,50,2021-12-01,Kitchen Appliances & Accessories,0.647967,4,774200,0.153575
4,All-in-One PCs,1,2021,79257,22,2021-01-01,Electronics & Software,0.607002,1,921197,0.086037
...,...,...,...,...,...,...,...,...,...,...,...
391,umbrellas,10,2021,11783,64,2021-10-01,Home & Garden,0.947491,4,737030,0.015987
392,washer dryer,1,2021,77940,54,2021-01-01,Home & Garden,0.538861,1,761006,0.102417
393,washer dryer,5,2021,54846,54,2021-05-01,Home & Garden,0.538861,2,761006,0.072070
394,washer dryer,9,2021,63418,54,2021-09-01,Home & Garden,0.538861,3,761006,0.083334
395,washer dryer,11,2021,101180,54,2021-11-01,Home & Garden,0.538861,4,761006,0.132956

In [175]:
best_quarter_per_category_filtered = best_quarter_per_category.loc[best_quarter_per_category.groupby('sub-category')['clicks_Best_Quarter'].idxmax()]

In [182]:
filtered_amplifier_df = filtered_df.loc[filtered_df['sub-category'] == 'amplifier']

In [183]:
filtered_amplifier_df

,sub-category,month,year,clicks_Best_Quarter,number,Datetime,categorie,fluctuation,Quarter,clicks_Total,Anteil_Klicks_an_Gesamt
108,amplifier,1,2021,102172,32,2021-01-01,Electronics & Software,0.566388,1,867079,0.117835

In [180]:
best_quarter_per_category_filtered.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/best_quarter_per_category.csv', index=False,sep=';') # no header, do not save the index as a new column

In [ ]:
# create dataframe
top_quarter_per_categorie = pd.DataFrame(top_quarter_per_categorie)

In [151]:
top_quarter_per_categorie

,0,1
0,"(1, Accessories for kitchen appliances)","0 81676 1 59529 2 64537 Name: clicks,..."
1,"(1, All-in-One PCs)",12 79257 13 64031 14 69552 Name: clic...
2,"(1, Champagne, Sparkling Wine & Prosecco)",168 59296 169 45506 170 48166 Name: c...
3,"(1, Coffee & espresso)",216 61687 217 48637 218 61849 Name: c...
4,"(1, Coffee machine cleaning)",228 81720 229 58462 230 64776 Name: c...
...,...,...
391,"(4, tracksuits)",1077 81922 1078 97270 1079 84315 Name...
392,"(4, trekking sandals)",1089 25002 1090 18135 1091 14641 Name...
393,"(4, turntable)",1101 61640 1102 82964 1103 86713 Name...
394,"(4, umbrellas)",1113 11783 1114 9534 1115 8408 Name...
395,"(4, washer dryer)",1161 72819 1162 101180 1163 70415 N...

In [158]:
top_quarter_per_categorie.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/top_quarter_per_categorie.csv', index=False,sep=';') # no header, do not save the index as a new column

AttributeError: 'SeriesGroupBy' object has no attribute 'to_csv'

In [134]:
top_5_clicks_per_quarter.columns

Index(['clicks'], dtype='object')

In [140]:
top_5_clicks_per_quarter.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/top_5_clicks_per_quarter.csv', index=False,sep=';') # no header, do not save the index as a new column

In [143]:
top_5_clicks_per_quarter = df3.groupby(['Quarter']).apply(lambda x: x.nlargest(5, 'clicks')).reset_index(drop=True)
top_5_clicks_per_quarter = pd.DataFrame(top_5_clicks_per_quarter)

In [184]:
top_5_clicks_per_quarter

,sub-category,month,year,clicks,number,Datetime,categorie,fluctuation,Quarter
0,Ski helmets & snowboard helmets,1,2021,230441,26,2021-01-01,Winter Sports,0.953337,1
1,control software,1,2021,160502,29,2021-01-01,Electronics & Software,0.834513,1
2,baselayer,1,2021,157074,13,2021-01-01,Fashion & Accessories,0.683837,1
3,Ski helmets & snowboard helmets,2,2021,141912,26,2021-02-01,Winter Sports,0.953337,1
4,car batteries,1,2021,140230,6,2021-01-01,Car,0.585788,1
5,brushcutters,6,2021,206148,14,2021-06-01,Tools & Construction,0.917428,2
6,brushcutters,5,2021,203849,14,2021-05-01,Tools & Construction,0.917428,2
7,sun care,6,2021,180883,44,2021-06-01,Health & Wellness,0.853187,2
8,umbrellas,6,2021,160126,64,2021-06-01,Home & Garden,0.947491,2
9,garden hoses,6,2021,145936,33,2021-06-01,Home & Garden,0.895809,2
10,garden hoses,7,2021,167462,33,2021-07-01,Home & Garden,0.895809,3
11,cool boxes,7,2021,149435,57,2021-07-01,Home & Garden,0.831606,3
12,trekking sandals,7,2021,138626,75,2021-07-01,Fashion & Accessories,0.897964,3
13,brushcutters,7,2021,132003,14,2021-07-01,Tools & Construction,0.917428,3
14,garden pumps,7,2021,127392,23,2021-07-01,Home & Garden,0.798263,3
15,men's boots,11,2021,223663,15,2021-11-01,Fashion & Accessories,0.925728,4
16,toy vehicles,12,2021,200438,42,2021-12-01,Toys & Games,0.870728,4
17,thermostats,11,2021,198969,5,2021-11-01,Home & Garden,0.856611,4
18,toy vehicles,11,2021,186708,42,2021-11-01,Toys & Games,0.870728,4
19,men's boots,12,2021,177044,15,2021-12-01,Fashion & Accessories,0.925728,4

In [187]:
# Bester Monat für jede Sub-Categorie Vorbereitung
best_month_per_sub_category = df3.loc[df3.groupby('sub-category')['clicks'].idxmax()]

In [186]:
best_month_per_sub_category

,sub-category,month,year,clicks,number,Datetime,categorie,fluctuation,Quarter
11,Accessories for kitchen appliances,12,2021,118898,50,2021-12-01,Kitchen Appliances & Accessories,0.647967,4
22,All-in-One PCs,11,2021,134469,22,2021-11-01,Electronics & Software,0.607002,4
178,"Champagne, Sparkling Wine & Prosecco",11,2021,81142,61,2021-11-01,Drinks,0.457926,4
218,Coffee & espresso,3,2021,61849,96,2021-03-01,Kitchen Appliances & Accessories,0.414283,1
228,Coffee machine cleaning,1,2021,81720,73,2021-01-01,Kitchen Appliances & Accessories,0.457881,1
...,...,...,...,...,...,...,...,...,...
1078,tracksuits,11,2021,97270,27,2021-11-01,Fashion & Accessories,0.452472,4
1085,trekking sandals,6,2021,143488,75,2021-06-01,Fashion & Accessories,0.897964,2
1103,turntable,12,2021,86713,93,2021-12-01,Electronics & Software,0.587282,4
1109,umbrellas,6,2021,160126,64,2021-06-01,Home & Garden,0.947491,2
1162,washer dryer,11,2021,101180,54,2021-11-01,Home & Garden,0.538861,4

In [189]:
# export
best_month_per_sub_category.to_csv(f'../../08_career/coding challenge/eCommerce_business_case_task_data/eCommerce_business_case_task_data/best_month_per_sub_category.csv', index=False,sep=';') # no header, do not save the index as a new column